@charset "UTF-8";

html, body, div, header, nav, main, section, footer { margin:0; padding:0; }
footer { clear:both; text-align:center; background-color:#CC6600; color:#FFFFFF; padding-bottom:0px; padding-top:0px; }
header, nav, main, footer, section { display:block; }
body { background-color:#FC6; color:#000; font-family:Tahoma, Geneva, sans-serif; font-size:16px; }

nav { float:left; width:9%; padding-top:20px; }
nav ul { list-style:none; padding:0px; padding-left:20px; margin-top:60px; padding-bottom:100%; }
nav ul li { display:block; margin-right:5%; margin-bottom:25px; }
nav a { text-decoration:none; padding:5px; display:block; text-align:center; }
nav a:link, nav a:visited { background-color:#993300; color:#FFFFFF; }
nav a:hover, nav a:active { background-color:#009999; color:#FFFFFF; }

caption { margin-bottom:5px; }
header { background-color:#F90; text-align:center; height:15vh; }
header h1 { padding:2%; margin:0; }

main {
    padding-left:1%;
    padding-right:1%;
    padding-top:2.5vh;
    padding-bottom:2.5vh;
    margin-left:10%;
    background-color:#FFA500;
    height:auto;
    min-height:80vh;
}
main:after { content:""; display:block; clear:both; }

#wrapper { margin:0 auto; background-color:#FFF; background-color:#3c3a34; }
#thisPage { background-color:#0066FF; }