@charset "UTF-8";
/* CSS Document */

html, body, div, header, main, section {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    clear: both;
    text-align: center;
    padding-bottom: 10px;
    background-color: #93E1ED;
    color: black;
    bottom: 0;
    position: relative;
    clear:both;
}

body{
    background-color: white;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}



main {
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    text-align: center;
    background-color: white;
}

main:after {
    content: "";
    display: block;
    clear: both;
}

header{
    background-color: #22B9F1;
    padding: 10px;
    text-align: center;
}

header, main, footer, section { display:block; }
header form { text-align:right; }
h2 { padding-top:20px; }
header form, header form a { color: white; }
nav { background-color: #1a75ff; }

header img { 
    padding-right:1100px; 
    z-index: 0; 
    width:30%; 
    height:auto; 
    margin-bottom: -13px;
}

footer { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
}

nav ul {
    margin: 0;
    text-align: center;
    background-color: #22B9F1
    
}

nav ul li {
    font-size: 20px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: auto;
    line-height: 60px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.25), 10px 0px 10px rgba(0,0,0,0.22);
    z-index: 20;
}

nav a {
    text-decoration: none;
    display: block;
    margin-right: -4px;
}

nav a:link, nav a:visited {
    background-color: #ffffff;
    color:black;
}

nav a:hover, nav a:active, .linkBox:hover, .linkBox:active, nav ul li:hover {
    background-color: #93E1ED;
    color: #000000;
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

header a {
    position: relative;
    top: 10px;
    right: 10px;
}

footer > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#wrapper {
    margin: 0 auto;
    background-color: #3c3a34;
}

#socialMediaIcons {
    margin-top: auto;
    margin-bottom: auto;
}

#socialMediaIcons img {
    width: 50px;
    height: 50px;
}

#arrowFooter {
    width: 50px;
    height: 75px;
}

#thisPage { 
    background-color: #02B9F3;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }



@media only screen and (min-width: 320px) and (max-width: 480px) {
    
    header img { 
        padding-right:0;
        height: 80px; 
        width: auto;
    }
    
    nav ul li {
        width: 320px;
        margin-left: -40px;
    }
    
    #arrowFooter {
      margin-left: 320px;
      margin-top: 5px;
    }
    
    #socialMediaIcons {
        margin-left: 20px;
        position: absolute;
        padding-top: 20px;
    }
    
    footer > div {
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;    
    }

}