@charset "UTF-8";

body {background-color:#393; font-family:Verdana, Geneva, sans-serif; font-size:12px;}

#ground {width:800px; height:500px; background-color:#FC9; color:#000; position:relative;}

#car {width:80px; height:auto; position:absolute; top:0px; left:0px; z-index:1;}

#pig {width:40px; height:40px; position:absolute; top:0px; left:0px; visibility:hidden; z-index:2;}

#pigNr, #hitCounter {font-size:200%;}