@charset "UTF-8";
/* CSS Document */

html, body, div, header, nav, main, section, footer{
    margin:0;
    padding:0;
}

footer{
    clear:both;
    text-align:center;
    padding-bottom:10px;
    background-color:#CC6600;
    color:#FFFFFF;
}

header, nav, main, footer, section{
    display:block; /* För webbläsare utan stöd för HTML5 */
}

body{
    background-color:#FC6;
    color:#000;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:12px;
}

#wrapper{
    margin:0 auto;
    background-color:#FFF;
    background-color:#3c3a34;
}

nav{
    float:left;
    width:200px;
    padding-top:20px;
    background-image:url(pics/navbar.jpg);
    background-repeat:no-repeat;
}

nav ul{
    list-style:none;
    padding:0px;
    padding-left:20px;
    margin-top:60px;
    padding-bottom:300px;
}

nav ul li{
    display:block;
    margin-right:30px;
    margin-bottom:25px;
}

nav a{
    text-decoration:none;
    padding:5px;
    display:block;
    text-align:center;
}

nav a:link, nav a:visited{
    background-color:#993300;
    color:#FFFFFF;
}

nav a:hover, nav a:active{
    background-color:#009999;
    color:#FFFFFF;
}

header{
    background-color:#F90;
    padding:10px;
    text-align:center;
}

header h1{
    margin:10px;
}

main{
    padding:10px;
    margin-left:200px;
    background:-webkit-linear-gradient(left, #FFF, #F90);     /* For Safari 5.1 to 6.0 */
    background:-o-linear-gradient(right, #FFF, #F90);         /* For Opera 11.1 to 12.0 */
    background:-moz-linear-gradient(right, #FFF, #F90);       /* For Firefox 3.6 to 15 */
    background:linear-gradient(to right, #FFF, #F90);         /* Standard syntax */
}

main:after{
    content:"";
    display:block;
    clear:both;
}

#thisPage{
    background-color:#0066FF;
}

#booking{
    padding:20px;
}

#booking fieldset{
    background-color:#EEE;
    margin-bottom:20px;
}

#booking legend{
    font-style:italic;
    font-weight:bold;
}

#submitbtn{
    text-align:right;
}

#place label, #extra label{
    line-height:2em;
}

#date label{
    margin-right:30px;
}

#customer label{
    float:left;
    width:100px;
    text-align:left;
    margin-top:8px;
}

#customer input{
    display:block;
    margin-top:8px;
}

caption{
    margin-bottom:5px;
}

table{
    border-collapse:collapse;
    box-shadow:5px 5px 3px #888888;
    margin-bottom:20px;
}

th, td{
    border:1px solid #666;
    padding:5px;
}

tr{
    background-color:#FFFFFF;
}

th{
    background-color:#CC6600;
    color:#FFFFFF;
}

tr:nth-child(even) {
    background-color:#C4C4A7;
}