@charset "UTF-8";
/* CSS Document */

html, body, div, header, nav, main, section, footer { margin:0; padding:0; }
footer { clear:both; text-align:center; background-color:#CC6600; color:#FFFFFF; padding-bottom:10px; padding-top:10px; }
header, nav, main, footer, section { display:block; }
body { background-color:#FC6; color:#000; font-family:Tahoma, Geneva, sans-serif; font-size:16px; }

nav { float:left; width:200px; padding-top:20px; }
nav ul { list-style:none; padding:0px; padding-left:20px; margin-top:60px; padding-bottom:300px; }
nav ul li { display:block; margin-right:30px; margin-bottom:25px; }
nav a { text-decoration:none; padding:5px; display:block; text-align:center; }
nav a:link, nav a:visited { background-color:#993300; color:#FFFFFF; }
nav a:hover, nav a:active { background-color:#009999; color:#FFFFFF; }

caption { margin-bottom:5px; }
header { background-color:#F90; padding:10px; text-align:center; }
header h1 { margin:10px; }

main {
    padding:20px;
    margin-left:200px;
    background:-webkit-linear-gradient(left, #FFF, #F90);     /* For Safari 5.1 to 6.0 */
    background:-o-linear-gradient(right, #FFF, #F90);         /* For Opera 11.1 to 12.0 */
    background:-moz-linear-gradient(right, #FFF, #F90);       /* For Firefox 3.6 to 15 */
    background:linear-gradient(to right, #FFF, #F90);         /* Standard syntax */
}
main:after { content:""; display:block; clear:both; }

table { border-collapse:collapse; box-shadow:5px 5px 3px #888888; margin-bottom:20px; }
th, td { border:1px solid #666; padding:5px; }
tr { background-color:#FFFFFF; }
th { background-color:#CC6600; color:#FFFFFF; }

form { float:left; margin-right:30px; }
form input { display:block; margin-bottom:10px; }
div { margin-top:10px; }
fieldset { float:left; background-color:#EEE; margin-bottom:20px; width:250px; margin-right:30px; }
fieldset input { margin-left:35px; }
fieldset legend { font-style:italic; font-weight:bold; }
fieldset label { line-height:2em; }
h3 input { margin-left:10px; }

#globalActions { margin-bottom:150px; }
#wrapper { margin:0 auto; background-color:#FFF; background-color:#3c3a34; }
#thisPage { background-color:#0066FF; }
#cellField { background-color: #ffffc6; color: black; }

.textCell, .textCellSelected, .headerCell, .headerCellSelected, .specialCell, .columnLetter, .rowNumber { border:1px solid #666; padding:5px; min-width:50px; height:20px; }
.locationCell { background-color:#99ccff; text-align:center; color:#000000; }
.specialCell { background-color:#99ccff; color:#000000; }
.textCell { background-color:#ffffff; color:#000000; }
.textCellSelected { background-color:#99ff99; color:#000000; }
.headerCell { background-color:#CC6600; color:#FFFFFF; text-align:center; font-size:larger; }
.headerCellSelected { background-color:#006600; color:#FFFFFF; text-align:center; font-size:larger; }
.hide { display:none; }
.showTab { display:block; }

.showGreenBox { display:block; margin-left:30px; margin-top:20px; padding:10px; width:300px; border-radius:10px; border:2px outset #36C; font-size:1.25em; background-color:#66ff66; text-align:center; }
.showRedBox { display:block; margin-left:30px; margin-top:20px; padding:10px; width:300px; border-radius:10px; border:2px outset #36C; font-size:1.25em; background-color:red; text-align:center; color:white; }
.showLongGreenBox { display:block; margin-left:30px; margin-top:20px; padding:10px; width:700px; border-radius:10px; border:2px outset #36C; font-size:1.25em; background-color:#66ff66; text-align:center; }
.showLongRedBox { display:block; margin-left:30px; margin-top:20px; padding:10px; width:700px; border-radius:10px; border:2px outset #36C; font-size:1.25em; background-color:red; text-align:center; color:white; }